* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.app-wrapper {
  background-image: linear-gradient(#EE6983, #FFC4C4);
  min-width: 250px;
  min-height: 450px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
}

.header h1 {
  color: #FFF5E4;
  text-align: center;
  margin: 30px 0;
}

.task_input {
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  border: 1px solid #c89666;
  border-radius: 15px;
  background-image: linear-gradient(lightblue, darkblue);
}

.add_button {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.dlt_button {
  width: 130px;
  padding: 15px 15px;
  margin-left: 2px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.display_list {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  max-height: 30px;
}

.list {
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  font-size: larger;
  font-weight: bold;
  color: #FFF5E4;
}

.taskBg {
  background-image: linear-gradient(#EE6983, #FFC4C4);
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 10px 20px 10px 15px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #FFF5E4;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  text-align: center;
  margin-left: 8px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  color: #850E35;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.iconWrap {
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconWrap span {
  display: inline-block;
  margin: 15px 20px 0 10px;
  cursor: pointer;
  color: #850E35
}

.taskBg .iconWrap span :hover {
  color: #FFF5E4;
}

button {
  background-color: #850E35;
  border: none;
  border-radius: 15%;
  width: 70px;
  color: #FFF5E4;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #850E35;
  color: white
}

input:hover {
  background-color: #FFD1D1
}